/* general */
* {
    color: #E6E1C5;
    font-family: "Work Sans";
    margin: 0; /* necessary to counter- */
    padding: 0; /* white-space at top of screen */
    text-decoration: none;
}

body {
    background-color: #0D3B66;
}

button {
    background-color: #0D3B66;
    color: #0D3B66;
    border: 0px;
}

form {
    text-align: center;
}

/* navbar */
.navbar-container {
    height: 100vh;
    margin-right: 75vw;
    background-color: #E6E1C5;
    border-right: 1px solid black;
}

.navbar-link {
    color: #0D3B66;
    width: 25vw;
    height: 18.658vh;
    padding-top: 14.658vh;  
    text-align: center;
}

.navbar-link:hover {
    background-color: #0D3B66;
    color: #E6E1C5;
    border-right: 1px solid black;
    transition: 0.4s;
}

/* home */
.home-container {
    height: 100vh;
}


.header {
    font-size: xx-large;
    margin-right: 45vw;
    padding-top: 20vh;
    position: static;
    float: right;
}

.home-profile {
    margin-top: 10vh;
    margin-right: 10vw;
    width: 60vw;
    height: 55vh;
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.home-profile-child {
    width: 50%;
    height: 100%;
    float: left;
    border: 0px solid red;
}

/* profile */

/* workouts */
.workouts-view {
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 10vh;
    margin-right: 10vw;
    width: 60vw;
    height: 55vh;
    float: right;
    border: solid 3px black;
}

.workouts {
    color: #0D3B66;
    background-color: #E6E1C5;
    width: 60vw;
    height: 8vh;
    padding-top: 6.5vh;  
    text-align: center;
    border: 1px solid black;
}

.workouts:hover {
    background-color: #0D3B66;
    color: #E6E1C5;
    transition: 0.4s;
}

.workout-remove-button {
    margin-top: -4vh;
    text-align: center;
    color: red;
}

.workout-remove-text {
    color: red;
    background-color: #E6E1C5;
}

.add-workout-button {
    font-size: medium;
    width: 60vw;
    text-align: center;
    padding-top: 3vh;
    border-left: 1px solid black;
    height: 5vh;
    text-decoration: none;
}

.add-workout-button:hover {
    background-color: #E6E1C5;
    color: #0D3B66;
    transition: 0.4s;
}

/* edit workout */
.workout-header {
    font-size: xx-large;
    margin-right: 30vw;
    padding-top: 20vh;
    position: static;
    float: right;   
}

/* misc. */
.error-page {
    text-align: center;
    margin-top: 45vh;
    font-size: 3ch;
}

.error-page-link {
    text-align: center;
    margin-top: 10vh;
    font-size: x-large;
}

input {
    background-color: #E6E1C5;
    color: #0D3B66;
}