* {
    background-color: #0D3B66;
    color: #E6E1C5;
    font-family: "Work Sans";
}

body {
    margin: 0;
    padding: 0;
}

.home-container {
    height: 100vh;
}

.header {
    font-size: xx-large;
    margin-right: 45vw;
    padding-top: 20vh;
    position: static;
    float: right;
}

.navbar-container {
    height: 100vh;
    margin-right: 75vw;
    background-color: #E6E1C5;
}

.home-profile {
    margin-top: 10vh;
    margin-right: 10vw;
    width: 60vw;
    height: 55vh;
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.home-profile-child {
    width: 50%;
    height: 100%;
    float: left;
    border: 0px solid red;
}
